.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title ,placeholder: "Title"
      .row
        .col-md-12
          = f.fields_for :captured_images do |captured_image|
            .cover-image-upload.img_input
              = captured_image.hidden_field :property, value: "main"
              = captured_image.file_field :image
              = image_tag "", width: "100%", height: "100%", style: "display: none;"
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              = f.fields_for :captured_images do |captured_image|
                .image-upload.img_input
                  = captured_image.hidden_field :property, value: "sub"
                  = captured_image.file_field :image
                  = image_tag "", width: "100%", height: "100%", style: "display: none;"
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              = f.fields_for :captured_images do |captured_image|
                .image-upload.img_input
                  = captured_image.hidden_field :property, value: "sub"
                  = captured_image.file_field :image
                  = image_tag "", width: "100%", height: "100%", style: "display: none;"
          %li.list-group-item.col-md-4
            .image-upload-plus#add_image
              %span
                +
      .row.proto-description
        .col-md-12
          =f.text_field  :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          =f.text_area :concept ,cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              =text_field_tag "list[tag][]", "",  placeholder: "ex)science"
            .col-md-3
              =text_field_tag "list[tag][]", "", placeholder: "ex)interia"
            .col-md-3
              =text_field_tag "list[tag][]", "", placeholder: "ex)life"
      .row.text-center.proto-btn
        = f.submit 'いったれ！！', data: { confirm: "新規作成しますか？？", commit: "新規作成", cancel: "編集する"},class: "btn btn-lg btn-primary btn-block new_comfirm", title: "新規作成"
