.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title ,placeholder: "Title"
      .row
        .col-md-12
          = f.fields_for :captured_images do |captured_image|
            - if captured_image.index == 0
              .cover-image-upload
                = captured_image.file_field :image
            - elsif captured_image.index < 2
              %ul.proto-sub-list.list-group
                %li.list-group-item.col-md-4
                  .image-upload
                    = captured_image.file_field :image
            - else
              %ul.proto-sub-list.list-group
                %li.list-group-item.col-md-4
                  .image-upload
                    = captured_image.file_field :image
                %li.list-group-item.col-md-4
                  .image-upload-plus
                    %span +
      .row.proto-description
        .col-md-12
          =f.text_field  :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          =f.text_area :concept ,cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              =text_field_tag "list[tag][]", "",  placeholder: "ex)science"
            .col-md-3
              =text_field_tag "list[tag][]", "", placeholder: "ex)interia"
            .col-md-3
              =text_field_tag "list[tag][]", "", placeholder: "ex)life"
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block
          = f.submit

