.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a{href: "/prototypes/#{ranking.id}"}
      = image_tag("#{ranking.captured_images.first.image.url}")
      .caption
        %h3
          = ranking.title
        .proto-meta
          .proto-user
            %a{href: "#"}
              = "by #{ranking.user.name}"
          .proto-posted
            Apr 26
        %ul.proto-tag-list.list-inline
          - ranking.tag_list.each do |tag|
            - tag_id = ActsAsTaggableOn::Tag.find_by(name: tag)
            %li
              = link_to tag, tag_path(tag_id),class: "btn btn-default"

