.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "/prototypes/ranking"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "/prototypes/latest"} Newest PROTO
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
.container
  .row
    .col-sm-12.proto-content
      .thumbnail
        %button{style: "width: 100%; height: 50px; font-size: 2rem; font-weight: 300; padding-bottom: 3px; color: #999; background-color: #eee;", class: "btn btn-tag"} #{@tag}
        .tag-meta
          %a{href: "#", style: "display: block; font-size: 1.3rem; border-radius: 2px; margin: 0 -2px 2px;", class: "label label-default tag-list-number"}
            #{@tag.taggings_count}
            %i Projects
.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          %a{href: "/prototypes/#{prototype.id}"}
            = image_tag("#{prototype.captured_images.first.image.url}")
            .caption
              %h3 #{prototype.title}
              .proto-meta
                .proto-user
                  %a{href: "#"} by #{prototype.user.name}
                .proto-posted
                  =prototype.created_at.strftime("%Y/%m/%d(#{%w(Sun Mon Tue Wed Thu Fri Sat)[prototype.created_at.wday]})")
              %ul.proto-tag-list.list-inline
                - prototype.tag_list.each do |tag|
                  -tag_id = ActsAsTaggableOn::Tag.find_by(name: tag)
                  %li
                    = link_to tag, tag_path(tag_id), class: "btn btn-default"
.text-center
  %ul.pagination
    = paginate @prototypes

