.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a{href: "/prototypes/#{latest.id}"}
      = image_tag("#{latest.captured_images.first.image.url}")
      .caption
        %h3
          = latest.title
        .proto-meta
          .proto-user
            %a{href: "#"}
              = "by #{latest.user.name}"
          .proto-posted
            =latest.created_at.strftime("%Y/%m/%d(#{%w(Sun Mon Tue Wed Thu Fri Sat)[latest.created_at.wday]})")
        %ul.proto-tag-list.list-inline
          - latest.tag_list.each do |tag|
            - tag_id = ActsAsTaggableOn::Tag.find_by(name: tag)
            %li
              = link_to tag, tag_path(tag_id),class: "btn btn-default"
